.menu-toggle-btn {
    display: none; /* Standardmäßig versteckt */
}

/* Desktop*/
@media(min-width:800px)and (max-width: 3000px) {

    #navMenu {
        max-width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Sorg dafür, dass der Platzt im Flex gleichmäßig verteilt wird*/
        align-items: center;
        margin: 0 auto; /* vertikal 0 und horizontale auf auto, zentriert horizontal*/
        padding: 20px;
        background-color: rgb(73, 63, 56, 0.8);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex-wrap: wrap; /* Ermöglicht das Umfließen der Elemente */
    }

    #navMenu ul {
        display: flex;
        flex-direction: row;
        background-color: grey;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-wrap: wrap; /* Ermöglicht das Umfließen der Liste */
    }

    #navMenu li {
        padding: 10px 20px;
        position: relative; /* Änders nichts visuell, Anker für Submenü */
        z-index: 9999;
    }

    #navMenu li :hover{
       background-color: rgb(73, 63, 56, 0.8);
    }

    #navMenu a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        display: block;
        min-width: 100px;
        text-align: center;
    }

    /* Submenü */
    #navMenu .submenu_Unternehmen {
        display: none;
        position: absolute; /* Positioniert sich am absoluten Parent */
        background-color: #555;
    }

    /* Submenü aktiv */
    #navMenu .submenu_Unternehmen.active {
        display: block; /*"active"-Klasse hinzugefügt */
        position: absolute; /*Positioniert sich am absoluten Parent */
        left: 0;
        top: 100%; /* Setzt es direkt unter das Eltern-<li> */
        background-color: #555;
        padding: 10px 20px;
    }


    /* Submenü */
    #navMenu .submenu_kategorien {
        display: none;
        position: absolute; /* Positioniert sich am absoluten Parent */
        background-color: #555;
    }

     #menuItem_Kategorien .menu-container.submenu_Kategorien{
         display: none;
     }

    /* Submenü aktiv */
    #menuItem_Kategorien .menu-container.submenu_Kategorien.active{
        display: block; /*"active"-Klasse hinzugefügt */
        position: absolute; /*Positioniert sich am absoluten Parent */
        left: 0;
        top: 100%; /* Setzt es direkt unter das Eltern-<li> */
        background-color: #555;
        padding: 10px 20px;
    }

    .btnContainer #adminBtn{
        display: none;
    }

}

/*Mobile*/
@media (max-width: 799px) {

    #navMenu{
        padding:20px;
    background-color: rgb(73, 63, 56, 0.8);
    }
    #navMenu a {
        background-color: rgba(101, 96, 92, 0.8);
        font-size: 18px;
        text-decoration: none;
        color: white;
        display: block;
        padding: 10px 15px;
        border-radius: 6px;
        margin: 5px 0;
        transition: background-color 0.3s;
    }
    #navMenu li{
        font-size: 20px;
       width: 100%;
        list-style: none;
    }

    .menu-toggle-btn  {
        width: 50px;
        height: 50px;
        background: grey;
        color: #000;
        display: block;
    }

    .main-menu {
        display: none; /* Start: versteckt */
    }

    .main-menu.visible {
        position: absolute;
        left: 0;
        display: block; /* Sichtbar nach Button-Klick */
    }


}
